@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Montserrat:300,400,700|Open+Sans:400,700|Poppins:300,400,700,900|Quicksand:300,400,500,700|Raleway:300,400,700|Roboto+Condensed:400,700|Roboto:300,400,700|Ubuntu:300,400,700");
body {
  font: 16px "Segoe UI", "Segoe UI Web Regular", Arial, sans-serif;
  width: auto;
  height: auto;
  margin: 0;
  max-width: 100%;
  z-index: 80;
  background: #e4fffd;
}
li {
    list-style-type: none !important;
}
p {
  font: 18px "Roboto", sans-serif;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

a {
  color: #ff724e;
  text-decoration: none;
}
p a, tr a, li a {
  display: inline-block;
}

p a:after, tr a:after, li a:after  {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #0250a7;
  transition: 300ms;
}

p a:hover:after, tr a:hover:after, li a:hover:after {
  width: 100%;
}

/*li a {
    float: left;
    margin-left: 50px;
}*/

.button-li {
  list-style: none;
}

ul.nav-bar span h1 {
  font: 23px "Comfortaa", cursive;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
  float: right;
  color: #71c7ff;
}

#nav {
  z-index: 99;
  margin-bottom: 20px;
}

ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  webkit-position: sticky;
  background-color: #555;
  font: 16px "Comfortaa", cursive;
}

ul.nav-bar li {
  float: left;
}

ul.nav-bar li a:not(:hover) {
  /*transition: 300ms ease all */
}

ul.nav-bar li a {
  display: block;
  color: white;
  float: none;
  margin-left: 0;
  text-align: center;
  text-decoration: none;
  padding: 12px 20px;
}

ul.nav-bar li a:hover:not(.active) {
  background-color: #71c7ff;
  transition: 300ms ease all;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  width: calc(100%-1px);
}

ul.nav-bar li a:hover {
  transition: 300ms ease all;
  background-color: #71c7ff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  margin-left: -1px;
  margin-right: -1px;
}

ul.nav-bar li a.active {
  background-color: #3f8ec2;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  margin-left: -1px;
  margin-right: -1px;
}

ul.nav-bar li.right {
  float: right;
}
.mobile-nav {
    display: none;
    width: 100%;
    height: 40px;
    top: 0px;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    webkit-position: sticky;
    background-color: #555;
    font: 16px "Comfortaa", cursive;
    margin-bottom: 10px;
    padding-top: 10px;
}
.menu-icon {
    width: 38px;
    height: 38px;
    margin-right: 10px;
    margin-top: -4px;
    float: right;
    border: none;
    cursor: pointer;
    position: static;
    display: inline-block;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjYiIGhlaWdodD0iMjYiCnZpZXdCb3g9IjAgMCAyMTAgMjEwIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDIxMHYtMjEwaDIxMHYyMTB6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgaWQ9Im9yaWdpbmFsLWljb24iIGZpbGw9IiNmZmZmZmYiPjxnIGlkPSJzdXJmYWNlMSI+PHBhdGggZD0iTTAsMzIuMzA3Njl2MTYuMTUzODVoMjEwdi0xNi4xNTM4NXpNMCw5Ni45MjMwOHYxNi4xNTM4NWgyMTB2LTE2LjE1Mzg1ek0wLDE2MS41Mzg0NnYxNi4xNTM4NWgyMTB2LTE2LjE1Mzg1eiI+PC9wYXRoPjwvZz48L2c+PC9nPjwvc3ZnPg==') 50% 50% no-repeat;
    background-size: 100%;
}

/*.mobile-nav {
    list-style-type: none !important;
}
.mobile-nav-li {
    list-style-type: none !important;
}*/


.name-title {
  font: 30px "Comfortaa", cursive;
  text-align: center;
  font-weight: bold;
  margin-top: 60px;
}

.name-title-top {
  font: 30px "Comfortaa", cursive;
  text-align: center;
  font-weight: bold;
  margin-top: auto;
}

.name-title-bottom {
    font: 30px "Comfortaa", cursive;
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 0px;
}

.hide {
	opacity: 0;
}

.show {
	opacity: 1;
}


@media only screen and (max-width: 815px) {
  /* For mobile */
  #navbar ul {
    border: 1px solid;
    border-top: none;
  }

  .my-name {
    float: unset;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    display: block;
    position: static;
  }

  #navbar {
    background-color: white;
    position: static;
    top: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 278px;
    border: none;
    z-index: 1;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
  }

  #main-doc section {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 1024px) {
    /* for ipad  pro 12" in portrait orientation */
}

#mobile-nav {
    display: none;
}
/* MOBILE OVERRIDES     */
@media only screen and (max-width: 601px) {
  .nav-li {
    float: none;
    display: none;
  }
  #nav {
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
  }
  #nav .nav-bar {
      display: none;
  }
  #mobile-nav {
      display: block;
      font-size: 14px;
      margin-left: -30px;
  }
  #about p {
      min-height: 1000px;
  }

  ul.nav-bar span h1 {
      font: 23px "Comfortaa", cursive;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
      margin-bottom: -25px;
      color: #71c7ff;
  }


  #main-doc {
    margin-left: -10px;
  }

  .my-name {
    float: unset;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    display: block;
    position: static;
  }
  
}

/* Scrollbar */
body::-webkit-scrollbar {
    background-color:#555;
    width:10px;
}
body::-webkit-scrollbar-track {
    background-color:#555;
}
body::-webkit-scrollbar-thumb {
    background-color:#71c7ff;
    border-radius:16px;
    border:transparent;
}
